html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d4bbff;
  color: #333;
  padding: 0 20px;
  width: 100%;
  position: fixed; /* Fix navbar to the top of the screen */
  top: 0; /* Align the navbar at the top */
  /* left: 0; Align the navbar to the left edge of the viewport */
  z-index: 1000; /* Ensure the navbar stays on top of other content */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
}

.logo {
  width: 100px; /* Adjust based on your logo's size */
  height: auto;
  margin-right: 10px;
}

.navbar-links a {
  color: #333;
  text-decoration: none;
  padding: 30px 15px;
  transition: background-color 0.3s;
}

.navbar-links a:hover {
  background-color: #bf9df9;
}
