.accessCode {
    text-align: center;
    height: 50px;
    font-size: 100%;
    background-color: #343a48;
    color: rgb(241, 109, 44);
    box-shadow: 0 0 0 #fff;
    border-radius: 2%;
    border-color: #fff;
    margin-bottom: 10px;
}

.accessCodeSubmit {
    color: #fff;
    font-size: 20px;
    width: 135px;
    height: 60px;
    border: none;
    margin: 20px;
    padding: 0;
    background-color: #FFDE8B;
    border-radius: 7px;
    cursor: pointer;
}

.redirection-link {
    font-size: small;
    text-decoration: underline;
    color: #fff;
}

.signup {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 50px 20px 50px 20px;
}